<div class='scorecard--details'>
  <div id="building-name-wrapper">
    <div class='sc-building-name sc-txt blue-new bold'><%= name %></div>
  </div>

  <div id="building-details-outer">

    <div id="building-details-row">
      <div class='sc-address blue-new'>
        <div><%= addr1 %></div>
        <div><%= addr2 %></div>
      </div>

      <div id="building-details-wrapper">
        <div class="building-details-col">
          <div id="building-details-labels">
            <div>Sq Footage</div>
            <div>Type</div>
            <div>OSE Building ID</div>
            <div>Year Built</div>
          </div>
        </div>

        <div class="building-details-col">
          <div id="building-details-values">
            <div><%= sqft %></div>
            <div><%= type %></div>
            <div><%= id %></div>
            <div><%= year_built %></div>
          </div>
        </div>
      </div><!-- #building-details-wrapper -->
    </div> <!-- #building-detail-row -->

    <div id="building-details-cards-wrapper">
      <div class="building-details-cards-inner">
        <div class="building-details-card">
          <div class="building-details-card-icon eui"></div>
          <div class="building-details-card-measure">
            <span class="building-details-card-measure-number"><%= site_eui_wn %></span>
            <span class="bold">KBTU/FT<sup>2</sup></span>
            <div class="building-details-card-words"><span class="bolder">energy</span> use per square foot*</div>
          </div>
          <div class="building-details-card-trend">
            <div class="change-arrow <%= eui_direction %>"></div>
            <div class="building-details-card-trend-words">
              <div><span class="text-<%= eui_direction %>"><%= eui_direction_statement %></span> than</div>
              <div>similar buildings.</div>
            </div>
          </div>
        </div>
        <div class="building-details-card-note">*All EUIs are adjusted for weather</div>
      </div>

      <div class="building-details-card">
        <div class="building-details-card-measure">
        <div class="building-details-card-icon ghg"></div>
          <span class="building-details-card-measure-number"><%= total_ghg %></span>
          <span class="bold">KG CO<sub>2</sub>e/FT<sup>2</sup></span>
          <div class="building-details-card-words"><span class="bolder">emissions</span> per square foot</div>
        </div>
        <div class="building-details-card-trend">
          <div class="change-arrow <%= ghg_direction %>"></div>
          <div class="building-details-card-trend-words">
            <div><span class="text-<%= ghg_direction %>"><%= ghg_direction_statement %></span> than</div>
            <div>similar buildings.</div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- #building-details-outer -->
</div> <!-- .scorecard--details -->

<div id="state-requirement-wrapper">
  <div id="state-requirement-outer">
    <div id="state-requirement-icon"></div>
    <div id="state-requirement-inner">
      <div id="state-requirement-action">New state requirement! Action is required.</div>
      <div id="state-requirement-details">This building likely must comply with Washington state's Clean Building Performance Standard. <a href="#performance-standard-chart">Learn more below.</a></div>
    </div>
  </div>
</div>

<div class='scorecard--section scorecard-compare-chart <%= view %>-selected'>
  <div class='inner'>
    <div class='sc-toggle'>
      <h4 class='sc-heading small'>TOGGLE VIEW:</h4>
      <div class='sc-toggle-row'>
        <label class='cb-plain sc-txt small'><input class="sc-toggle--input" type="checkbox" <%= view === 'eui' ? 'checked' : '' %> data-view='eui'/><span class='cb'><span class='cb-inner'></span></span><span>Energy Use Intensity (EUI)</span></label>
        <label class='cb-plain sc-txt small'><input class="sc-toggle--input" type="checkbox" <%= view === 'ess' ? 'checked' : '' %> data-view='ess'/><span class='cb'><span class='cb-inner'></span></span><span>ENERGY STAR Score</span></label>
      </div>
    </div>

    <div class='scorecard-compare-section eui'>
      <div class='section-head'>
        <h3 class='sc-heading'>Energy Use Compared to Average</h3>
        <p class='sc-txt small bold'>See how this building measures up against other buildings of the same primary use:</p>
      </div>

      <div class='row'>
        <div class='col-4 compare-desc'>
          <% if(compareEui.isValid) { %>
            <p class='compare-logo <%= compareEui.change_label %> eui'><span><%= compareEui.change_pct %></span></p>
            <p class="sc-txt light pg">This building’s energy use per square foot (EUI) is <span class='change-txt bold <%= compareEui.change_label %> eui'><%= compareEui.change_pct %> <%= compareEui.change_label %></span> than the average <%= type %> in Seattle.</p>
          <% } else { %>
            <p class='not-available'>
              We don't have an EUI for this building for this year. Contact <a href="mailto:energybenchmarking@seattle.gov">energybenchmarking@seattle.gov</a> if this is incorrect.
            </p>
          <% } %>
        </div>
        <% if(compareEui.isValid) { %>
          <div class='col-8 eui-compare-chart compare-chart'></div>
        <% } %>
      </div>
    </div>

    <div class='scorecard-compare-section ess screen-only'>
      <div class='section-head'>
        <h3 class='sc-heading'>Energy Star Score Compared to Average</h3>
        <p class='sc-txt small bold'>See how this building measures up against other buildings of the same primary use:</p>
      </div>

      <div class='row'>
        <div class='col-4 compare-desc'>
          <% if(compareEss.isValid) { %>
            <p class='compare-logo <%= compareEss.change_label %> ess'><span><%= compareEss.change_pct %></span></p>
            <p class="sc-txt light pg">This building’s ENERGY STAR Score is <span class='change-txt bold <%= compareEss.change_label %> ess'><%= compareEss.change_pct %> points <%= compareEss.change_label %></span> than the average <%= type %> in Seattle.</p>
          <% } else { %>
            <p class='not-available'>
              We don't have an ENERGY STAR score for this building for this year. Contact <a href="mailto:energybenchmarking@seattle.gov">energybenchmarking@seattle.gov</a> if this is incorrect.
            </p>
          <% } %>
        </div>
        <div class='col-8 ess-compare-chart compare-chart'></div>
      </div>
    </div>

  </div>
</div>

<div id='compare-shift-chart' class='scorecard--section avoid-break'></div>


<div id='performance-standard-chart' class='scorecard--section'></div>
