<div class='inner'>
  <div class='section-head'>
    <h2 class='sc-heading ml-3'>Find ways to save</h2>
  </div>
  <% if (!error) { %>
  <table>
    <tr>
      <% _.each(links, function(item, idx) { %>
      <td>
        <div class='link-cell'>
          <div class='link-num'><%= (idx + 1) %></div>
          <div class='link-content links-<%= links.length %>'>
            <p><strong><%= item.header %></strong> <%= item.txt %></p>
          </div>
        </div>
        </td>
      <% }) %>
    </tr>
    <tr>
      <% _.each(links, function(item) { %>
      <td>
        <div class='link-link'>
          <a href='<%= item.link_href %>' target='_blank' class='link-button links-<%= links.length %>'><%= item.link_txt %> &gt;</a>
          <!-- skip mailto links, otherwise, print out the link_href -->
          <% if ( item.link_href.indexOf('mailto:') < 0 ) { %>
            <a href='<%= item.link_href %>' target='_blank' class='link-text links-<%= links.length %>'><%= item.link_href %></a>
          <% } %>
        </div>
      </td>
      <% }) %>
    </tr>
  </table>
  <% } %>
</div>
