<% if (energy_star_score) { %>
  <div class='scorecard-wrapper'>
<% } else { %>
  <div class='scorecard-wrapper no-energy-star-score'>
<% } %>

  <!-- Navigation -->
  <div class='scorecard--nav'>
    <a id='back-to-map-link' class='sc-link' href='#'>&lt; Back to Map</a>
    <button id='print-scorecard' onclick='window.print();'>Print Report</button>
    <a id='comparison-view-link' class='sc-link' href='#'>Building Comparison View &gt;</a>
  </div>

  <div class='scorecard--header'>
    <% if (building_view) { %>
      <h1 class='sc-header'><%= year %> Energy Use and Emissions Report</h1>
      <img src='images/seattle_ose_logo_blue.png' />
    <% } %>
  </div>

  <!-- Dynamic content -->
  <div id='scorecard-content'>
    <div id='scorecard-view'></div>
  </div>

  <% if (building_view) { %>

    <% if (comments) { %>
      <div id='building-comments' class='scorecard--section'></div>
    <% } %>

  <!-- Links -->
  <div id='links' class='scorecard--section'></div>
  <% } %>


  <div class='scorecard--print-footer'>
    <img src='images/seattle-energy-benchmarking.png' />
    <span class='footer-text'>
      <a href="https://seattle.gov/energybenchmarking">seattle.gov/energybenchmarking</a> | <a href="mailto:energybenchmarking@seattle.gov">energybenchmarking@seattle.gov</a> | <a href="tel:1-206-727-8484">206-727-8484</a></span>
  </div>
</div> <!-- end .scorecard-content -->
