<% if (energy_star_score) { %>
  <div class='scorecard-wrapper'>
<% } else { %>
  <div class='scorecard-wrapper no-energy-star-score'>
<% } %>

  <!-- Navigation -->
  <div class='scorecard--nav'>
    <a id='back-to-map-link' class='sc-link' href='#'>&lt; Back to Map</a>
    <div>
      <h2 class='sc-heading large'><%= name %></h2>
      <% if (building_view) { %>
      <a id='comparison-view-link' class='sc-link' href='#'>Building Comparison View &gt;</a>
      <% } %>
    </div>
  </div>

  <!-- Dynamic content -->
  <div id='scorecard-content'>
    <div id='ess-scorecard-view' class='ess'></div>
    <div id='eui-scorecard-view' class='eui'></div>
  </div>

  <% if (building_view) { %>

    <% if (comments) { %>
      <div id='building-comments' class='scorecard--section'></div>
    <% } %>

  <!-- Links -->
  <div id='links' class='scorecard--section'></div>
  <% } %>


  <div class='scorecard--print-footer'>
    <img src='images/seattle-energy-benchmarking.png' />
    <span class='footer-text'>seattle.gov/energybenchmarking | energybenchmarking@seattle.gov | 206-727-8484</span>
  </div>
</div> <!-- end .scorecard-content -->
