{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "google"],
  "rules": {
    "no-var": 0,
    "space-before-blocks": 0,
    "comma-dangle": 0,
    "block-spacing": [2, "always"],
    "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
    "arrow-parens": ["error", "as-needed"],
    "max-len": 0,
    "prefer-spread": 0,
    "no-useless-escape": 0,
    "no-constant-condition": 0,
    "require-jsdoc": 0,
    "no-extend-native": 0,
    "object-curly-spacing": ["error", "always"],
    "camelcase": 0,
    "no-console": 0,
    "no-invalid-this": 0,
    "new-cap": 0,
     "no-debugger": 0,
  },
  "env": {
    "browser": true,
    "node": true,
    "amd": true,
    "es6": true
  },
  "globals": {
    "define": true,
    "L": true,
    "cartodb": true,
    "d3": true
  },
  "plugins": [
    "json"
  ]
}
