<div class='scorecard-content'>

  <div class='scorecard--nav'>
    <a id='back-to-map-link' class='sc-link' href='#'>&lt; Back to Map</a>
  </div>

  <div class='scorecard--details row'>
    <div class='col-4'>
      <h4 class='sc-heading white'>Total Usage and Emissions</h4>
      <div class='pushdown'>
        <table class='datatable'>
          <tr>
            <td class='sm'>Number of buildings reporting</td>
            <td class='lg'><%= stats.reporting %></td>
          </tr>
          <tr>
            <td class='sm'>Number of buildings required to report</td>
            <td class='lg'><%= stats.required %></td>
          </tr>
          <tr>
            <td class='sm'>Compliance Rate</td>
            <td class='lg'><%= stats.pct %><span class='unit'>%</span></td>
          </tr>
        </table>
      </div>
      <div class='sc-toggle'>
        <h4 class='sc-heading small white'>TOGGLE VIEW:</h4>
        <label class='cb-plain sc-txt white small'><input class="sc-toggle--input" type="checkbox" <%= view === 'eui' ? 'checked' : '' %> data-view='eui'/><span class='cb'></span><span>EUI</span></label>
        <label class='cb-plain sc-txt white small'><input class="sc-toggle--input" type="checkbox" <%= view === 'ess' ? 'checked' : '' %> data-view='ess'/><span class='cb'></span><span>Energy Star Score</span></label>
      </div>
    </div>
    <div class='col-4 middle'>
      <div class='circle-bk'>
        <h4 class='sc-heading'><%= year %> Median <%= view === 'eui' ? 'EUI' : 'ENERGY STAR' %></h4>
        <h3 class='sc-heading orange xlarge' ><%= value %></h3>
        <p class='sc-heading orange small'><%= view === 'eui' ? 'kBtu/ft²' : 'ENERGY STAR SCORE' %></p>
        <div class='eui-desc'>
          <p class='sc-txt tiny'><%= view === 'eui' ? 'Energy Use Intensity' : 'Energy Star Score' %></p>
          <p class='sc-txt tiny'>
          <% if (view === 'eui') { %>EUI is your building’s annual energy use (all fuel types) per square foot (ft²) in kBtu/ft².
          <% } else { %>
          The 1-100 score measures how well the property is performing relative to similar properties, when normalized for climate and operational characteristics.
          <% } %>
          </p>
        </div>
      </div>
    </div>
    <div class='col-4'>
      <h2 class='sc-heading white'>Compliance Summary</h2>
      <div class='pushdown vertical-datatable'>
        <div class='details-box'>
          <p class='sm'>Total Consumption</p>
          <h3 class='lg'><%= compliance.consumption %><span class='unit'>KBTU</span></h3>
        </div>

        <div class='details-box'>
          <p class='sm'>Total GHC Emissions</p>
          <h3 class='lg'><%= compliance.ghg %><span class='unit'>MT</span></h3>
        </div>

        <div class='details-box'>
          <p class='sm'>Total Reported GFA</p>
          <h3 class='lg'><%= compliance.gfa %></h3>
        </div>
      </div>
    </div>
  </div>

  <div id='fuel-use-chart' class='scorecard--section'></div>

  <div id='compare-shift-chart' class='scorecard--section'></div>

  <div id='building-type-table' class='scorecard--section'></div>

  <div id='links' class='scorecard--section'>
    <div class='inner'>
      <h2 class='sc-heading large'>Links</h2>
      <table>
        <tr>
          <td rowspan='2'>
            <p class='sc-txt small'>Contact us:</p>
            <p class='sc-txt small'>City Light Energy Advisors</p>
            <p class='sc-txt small'>Answering questions by email or phone (206) 684-3800</p>
          </td>
          <td><span class='sc-txt small'>Seattle City Light <span class='bold'>incentives for energy efficiency equipment</span></span></td>
          <td><span class='sc-txt small'>This is an opportunity for users to click on another link</span></td>
        </tr>
        <tr>
          <td><span class='sc-txt small'>This is an opportunity for users to click on another link</span></td>
          <td><span class='sc-txt small'>This is an opportunity for users to click on another link</span></td>
        </tr>
      </table>
    </div>
  </div>

</div> <!-- end .scorecard-content -->
