<div class='inner'>
  <div class='section-head'>
    <h3 class='sc-heading'>Fuel Use and Emissions</h3>
  <% if (!isCity) { %>
      <p class='sc-txt small bold'>The climate impact of a building is determined by the types of fuels consumed during the operation of the building and the carbon intensity of those fuels. In Seattle, electricity has a very low climate impact and most emissions come from fossil fuels burned onsite (such as gas) or offsite (such as steam).</p>
      <p class='sc-txt small bold' style='margin-top: 10px;'>See how this building’s climate impact compares to buildings of the same type:</p>
    <% } else { %>
      <p class='sc-txt small bold'>See the breakdown of different fuel types contributing to citywide GHG emissions:</p>
    <% } %>
  </div>

  <% if (!isCity) { %>
    <div class='emissions-intensity-chart-container row'>
      <div id='emissions-intensity-chart' class='col-8 emissions-intensity-chart'></div>
      <div class='col-4 emissions-intensity-chart-legend'>
        <div class='notes'>This building’s greenhouse gas (GHG) emissions per square foot was <strong><%= total_ghg_emissions_intensity %> KG/SF</strong> in <%= year %> with a total of <strong><%= total_ghg_emissions %> metric tons (MT)</strong> for the year.</div>
        <div class='emissions-dots'>
          <div class='emissions-dots-title'>total emissions</div>
        </div>
      </div>
    </div>
  <% } %>

  <div id='fueluse-chart' class='row'>
    <% if (fuels.length === 0) { %>
      <p class='nodata'>Insufficient data</p>
    <% } else { %>
      <div class='col-8'>
        <div class='row fc-labels fc-panel'>
          <div class='col-6'>
            <div class='fc-label'>
              <% if (isCity) { %>
              <span><strong>Energy Consumption</strong></span>
              <% } else { %>
              <span><strong>Building Energy Consumption</strong></span>
              <% } %>

              <span>(% kBtu)</span>
            </div>
            <div class='pie-chart-container'>
              <div id='energy-consumption-pie-chart'></div>
              <div class='energy-consumption-breakdown'>
                <% _.each(fuels, function(fuel) { %>
                  <div class='energy-consumption-item <%= fuel.key %>'>
                    <%= fuel.label %> <%= fuel.usage.pct_raw %>%
                  </div>
                <% }); %>
                <div class='energy-consumption-total'><%= totals.usage %> kBtu</div>
              </div>
            </div>
          </div>
          <div class='col-6'>
            <div class='fc-label'>
              <% if (isCity) { %>
              <span><strong>Emissions</strong></span>
              <% } else { %>
              <span><strong>Building Emissions</strong></span>
              <% } %>

              <% if (fuels.length > 1) { %>
                <span>(% ghg)</span>
              <% } %>
            </div>
            <div class='pie-chart-container'>
              <div id='emissions-pie-chart'></div>
              <div class='emissions-breakdown'>
                <% _.each(fuels, function(fuel) { %>
                  <div class='emissions-item <%= fuel.key %>'>
                    <%= fuel.label %> <%= fuel.emissions.pct_raw %>%
                  </div>
                <% }); %>
                <div class='emissions-total'><%= totals.emissions %> metric tons</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='col-4'>
        <% if (fuels.length >= 1) { %>
        <div class='fc-row notes'>
          <% if(totals.emissions > 0) { %>
          <p><strong><%= totals.emissions %> MT CO<sub>2</sub>E</strong> is the equivalent of <strong><%= cars %> passenger vehicles driven</strong> for one year.</p>
          <% } %>
        </div>
        <% } %>
      </div>
    <% } %>
  </div>
</div>
