// these are vars found in bitters-seattle over and above the ones in Bitters
// 1.8. Sequestering these here so we can work through a refactor to lift
// seattle to a higher semantic meaning (eg. $some-button-color instead of
// $orange) or rely on an exiting Bitters 1.8 var that might not have been
// around before.

$theme-color: red;
$theme-color-dark: shade(red, 30%);

$base-background-color: #f2f2f2;
$base-font-size: 1em;
$footer-height: 2em;
$header-height: 6.5em;
$inverse-font-color: white;
$metric-footer-height: 4em;
$metric-header-height: 6.5em;
$metric-left-width: 30%;
$real-orange: #de8f41;
$spinner-gray: #666;
$toolbar-height: 3em;
