#map {
  a.leaflet-popup-close-button {
    display: none
  }
  .leaflet-popup-content-wrapper {
    box-shadow: none;
    border-radius: 0;
    background-color: $light-gray;
  }
  .leaflet-popup-tip{
    background-color: $light-gray;
  }
}

.leaflet-popup-content .building-info {
  font-family: "Ubuntu", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  line-height: 1;

  li + li {
    padding-top: .5em;
  }

  li:first-child{
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: -0.2em;
  }

  li:nth-child(2){
    margin-bottom: -0.3em;
  }

  .show-more-container{
    &.hide {
      li {
        display: none;
      }
    }
    &.show {
      li {
        display: block;
      }
    }

    li:first-child{
      font-size: inherit;
      font-weight: inherit;
      margin-bottom: 0;
      margin-top: .5em;
    }

    li:nth-child(2){
      margin-bottom: 0;
    }
  }

  .show-hide-attrs {
    display: inline-block;
    margin: 10px 0px 0px;
    cursor: pointer;
  }

  .building-popup-chart {
    min-width: 200px;
    max-width: 300px;
    margin: 20px 0 0 0;

    & > h3 {
      text-transform: uppercase;
      font-size: 12px;
      line-height: 1;
      margin: 0 0 5px 0;
    }

    .inner {
      border: 1px solid blue;
      padding: 10px;
    }

    table {
      margin: 0;
      table-layout: auto;

      td {
        padding: 0;
        border: 0;
      }

      td:first-child {
        width: auto;
        padding-right: 10px;
      }
      td:last-child {
        width: 100%;
      }
    }

    .lead td {
      padding: 0 0 1rem 0;
      vertical-align: bottom;
    }

    .lead td:first-child {
      font-size: 24px;
      font-weight: 500;
    }

    .barchart td {
      vertical-align: bottom;
    }

    .barchart td:first-child {
      font-size: 16px;
      font-weight: 500;
    }

    .bar {
      position: relative;
      width: 100%;
      height: 16px;
      border: 1px solid blue;
    }

    .fill {
      height: 100%;
      background: blue;
    }

    .barchart--labels {
      overflow: hidden;

      td {
        position: relative;
        padding: 5px 0 0;
      }

      td:first-child {
        white-space: nowrap;
        vertical-align: bottom;
      }

      .min, .max {
        position: relative;
        top: 0;
        width: 40%;
        float: left;

        span {
          display: inline-block;
          width: 100%;
        }
      }

      .max {
        float: right;
        text-align: right;
      }
    }
  } // end .building-popup-chart

  button {
    width: 100%;
    margin: 1rem 0 0;
    padding: 0.5em 1em;
    border: 1px solid #0047ba;
    border-radius: 1em;
    background: #0047ba;
    color: white;
    font-size: 0.75rem;
    text-transform: uppercase;
  }
}
