#map-controls-bar {
  position: absolute;
  left: $metric-left-width;
  top: 100%;
  width: 100% - $metric-left-width;
  height: $metric-footer-height;
  background: $base-font-color;
  z-index: 1000;
  cursor: pointer;
  font-size: 1em;

  button {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
    font-weight: 500;
    text-transform: uppercase;
  }

  .toggle {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0 0.5em;
    color: #fff;
    white-space: initial;
    text-align: left;
  }

  .comparables {
    height: 100%;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0 1em;
    overflow: hidden;

    td {
      padding: 0;
      width: auto;
      border: 0;

      &:last-child {
        width: 160px;
      }
    }

    td > div {
      display: block;
      position: relative;
      height: 2em;
      margin: 0 0.5em;
      padding: 0 0.5em;
      background: white;
      border-radius: 1em;
      line-height: 2em;
    }

    td.empty > div {
      background: #001488;
    }

    .name {
      display: inline-block;
      width: 100%;
      padding-right: 1em;
      font-size: 0.8em;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .close {
      position: absolute;
      right: 0;
      font-size: 1.7em;
      line-height: 1;
      top: 50%;
      transform: translateY(-50%);
      font-family: monospace;
      width: 1em;
      z-index: 1;
    }
  }
}

.compare-mode #map-controls-bar {
  top: $metric-header-height - $metric-footer-height;
}