$metric-left-width: 30%;
$metric-header-height: 5em;
$metric-footer-height: 3em;
#map-controls {

  width: 30%;

  .compare-mode & {
    width: 100%;
  }

  #map-controls-bk {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: $base-background-color;
    z-index: 0;
  }

  .compare-mode & #map-controls-bk {
    width: $metric-left-width;
  }

  #map-controls-header {
    position: relative;
    width: 100%;
    height: $metric-header-height;
    background-color: $base-background-color;

    p {
      margin-bottom: 0;
    }
  }

   .compare-mode & #map-controls-header {
    width: $metric-left-width;
   }

   #map-controls-content {
    position: relative;
    height: calc(100% - 5em);
   }

   #map-controls-content--inner {
    overflow-y: scroll;
    height: 100%;
   }

  label {
    position: relative;
    margin-bottom: 0;
    width: 100%;
    background-color: $base-background-color;
    box-shadow: inset 0 -1px $base-font-color;
  }

  input {
    display: none;
  }

  h2 {
    font-weight: 300;
    margin-bottom: 0;
    text-indent: 2em;
    padding: 0.75em 0;
  }

  h3 {
    margin: 0;
    font-size: inherit;
  }

  .map-control {
    position: relative;
    display: table-row;
    height: auto;
  }

  .map-control + .map-control {

    .control-cell {
      border-top: 1px solid $base-background-color;
    }
  }

  .control-cell {
    position: relative;
    display: table-cell;
    vertical-align: top;
    height: 100%;
  }

  .control-cell--inner {
    height: 100%;
    padding: 1em;
    padding-left: 2em;
  }

  .control-cell.left {
    width: 100%;
    z-index: 2;

    .control-cell--inner {
      background-color: #d0d0d0;
    }
  }

  .compare-mode & .control-cell.left {
    width: $metric-left-width;
  }

  .control-cell.right {
    width: auto;
    left: -100%;
    transition: left 0.4s linear;
    z-index: 1;

    .control-cell--inner {
      padding: 0;
      background-color: #ddd;
    }

    table {
      width: 100%;
      height: 100%;
      margin: 0;

      td {
        vertical-align: middle;
        border-bottom: 0;
        padding: 0;
      }
    }
  }

  .compare-mode & .control-cell.right {
    left: 0;
  }


  .chart {
    margin-top: 0.75em;
    margin-bottom: 0.25em;
  }

  .control-head {
    margin-bottom: .5em;
    line-height: 1.2em;
    font-size: .9em;
    height: 1.2em;
    position: relative;
  }

  .more-info {
    display: none;
    @extend %disable-user-select;
    font-weight: 100;
    position: absolute;
    right: 0.25em;
    top: 0;
    font-size: 0.9em;

    @include media($medium-screen-up) {
      display: block;
    }
  }

  .description {
    margin-top: 1em;
    font-size: 0.9em;
    display: none;
  }

  .map-control.show-more-info .more,
  .more-info .less {
    display: none;
  }

  .map-control.show-more-info .less,
  .map-control.show-more-info .description {
    display: block;
  }

  .category-control-container {
    display: none;
    position: relative;
    width: 100%;
  }

  input:checked + label + .category-control-container {
    display: table;
  }

  .histogram {
    padding: 0 em(10px);
    height: em(47px);
  }
}

#map-controls {
  // background-color: $base-background-color;
  background-color: transparent;

  .category, input:checked + label h2 {
    // box-shadow: inset 0 -1px $base-font-color;
  }

  .current.category {
    // box-shadow: inset 1em -1px $base-font-color;
  }

  h2, .map-control {
    @extend %disable-user-select;
  }

  h2:after, label:after {
    content: "\A";
    display: block;
    position: absolute;
    height: 0;
    width: 0;
    bottom: -10px;
    right: 1px;
    border: 10px solid transparent;
    border-bottom-width: 0;
    z-index: 5;
  }

  .compare-mode & h2:after, .compare-mode & label:after {
    right: 70%;
  }

  label:after {
    bottom: -9px;
    border-top-color: $base-background-color;
  }

  h2:after {
    border-top-color: $base-font-color;
  }

  h3 {
    font-weight: bold;
  }

  .category {
    cursor: pointer;
  }

  .category-control-container {
    // @include linear-gradient(to right, #d0d0d0, darken(#d0d0d0,5%));
    // background-color: #d0d0d0;
    color: #fff;
  }

  .current.map-control {
    box-shadow: inset 1em 0 $base-font-color;
    color: $base-font-color;
  }

  .map-control:last-child {
    box-shadow: inset 0 -1px $base-font-color;
  }

  .current.map-control:last-child {
    // box-shadow: inset 1em -1px $base-font-color;
  }

  .more-info {
    @extend %disable-user-select;
    text-transform: uppercase;
  }

  .more-info .more,
  .more-info .less {
    padding-right: 0.9em;
  }

  .more-info .more:after,
  .more-info .less:after {
    content: "\A";
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -0.333333em;
    border-style: solid;
  }

  .more-info .more:after {
    border-width: 0.4em 0 0.4em 0.6em;
    border-color: transparent transparent transparent #fff;
  }

  .more-info .less:after {
    border-width: 0.4em 0.6em 0.4em 0;
    border-color: transparent #fff transparent transparent;
  }

  .current.map-control .more-info .more:after {
    border-color: transparent transparent transparent $base-font-color;
  }

  .current.map-control .more-info .less:after {
    border-color: transparent $base-font-color transparent transparent;
  }

  .map-control:not(.current) rect {
    fill: #fff !important;
  }
}


#map-controls-counts {
  position: absolute;
  left: 0;
  top: 100%;
  width: $metric-left-width;
  height: $metric-footer-height;
  background: #eee;
  text-align: center;
  z-index: 5;

  p {
    margin: 0;
  }
}

.compare-mode & #map-controls-bar {
  top: $metric-header-height - $metric-footer-height;
}

#map-controls-bar {
  position: absolute;
  left: $metric-left-width;
  top: 100%;
  width: 100% - $metric-left-width;
  height: $metric-footer-height;
  background: blue;
  z-index: 1000;
  cursor: pointer;

  button {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
    font-weight: 500;
    text-transform: uppercase;
  }

  .toggle {
    float: right;
    height: 100%;
    width: 100px;
    margin-right: 2em;
    color: #fff;
    white-space: initial;
    text-align: left;
  }

  .comparables {
    height: 100%;
    width: auto;
    list-style: none;
    margin: 0;
    padding: 0 1em;
    overflow: hidden;

    li {
      display: block;
      position: relative;
      float: left;
      width: calc(20% - 0.8em); // (4/5) * 1em
      height: 2em;
      margin: 0.5em 0;
      padding: 0 1em;
      background: white;
      border-radius: 1em;
      line-height: 2em;
    }

    li + li {
      margin-left: 1em;
    }

    .name {
      display: inline-block;
      width: 100%;
      padding-right: 0.5em;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .close {
      position: absolute;
      right: 0;
      font-size: 1.7em;
      line-height: 1;
      top: 50%;
      transform: translateY(-50%);
      font-family: monospace;
      width: 1em;
      z-index: 1;
    }
  }
}
