#footer {
  position: fixed;
  display: table;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  padding: 0;
  background-color: #f2f2f2;
  text-align: center;
  overflow: hidden;

  @include media($medium-screen-up) {
    height: $footer-height;
  }

  @include media($xlarge-screen-up) {
    height: $footer-height;
  }

  .footer-row {
    display: block;
    margin: 0;
  }

  .links-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    border-top: 1px solid $theme-color;
  }

  .links {
    position: relative;
  }

  a {
    display: inline-block;
    color: $theme-color;
    text-decoration: none;
    vertical-align: middle;
  }

  a + a:before {
    content: '|';
    padding: 0 5px;
  }
}

#footer.nav-up {
  bottom: -$footer-height;

  @include media($medium-screen-up) {
    bottom: -$footer-height;
  }

  @include media($xlarge-screen-up) {
    bottom: -$footer-height;
  }
}
