@import '../base/_basic_grid';

$sc-blue: #0047BA;
$sc-orange: #DE8F41;
$sc-red: #C04F31;
$sc-yellow: #F7C34D;
$sc-white: #fff;
$sc-offwhite: #f1f1f1;

$sc-weight-lt: 300;
$sc-weight: 400;
$sc-weight-bd: 500;

$sc-font-micro: 0.5rem;
$sc-font-tiny: 0.625rem;
$sc-font-sm: 0.75rem;
$sc-font-std: 1rem;
$sc-font-lg: 1.5rem;
$sc-font-lgr: 3rem;


#scorecard {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: $sc-white;
  overflow: auto;
  z-index: $zIndexMax;

  &.active {
    display: block;
  }

  .scorecard-wrapper {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
  }

  #scorecard-content {
    position: relative;
    width: 100%;
  }

  .sc-heading {
    margin: 0;
    padding: 0;
    font-size: $sc-font-std;
    font-weight: $sc-weight-bd;
    color: $blue;
    text-transform: uppercase;
    line-height: 1;

    &.small { font-size: $sc-font-sm; }
    &.large { font-size: $sc-font-lg; }
    &.xlarge { font-size: $sc-font-lgr; }

    &.light { font-weight: $sc-weight-lt; }
    &.normal-weight { font-weight: $sc-weight; }

    &.orange { color: $sc-orange; }
    &.white { color: $sc-white; }
  }

  .sc-link {
    color: $blue;
    font-size: 0.75rem;
  }

  .bold { font-weight: $sc-weight-bd; }

  .sc-txt {
    margin: 0;
    padding: 0;
    color: $sc-blue;
    font-size: $sc-font-std;
    font-weight: $sc-weight;
    line-height: 1;

    &.white { color: $sc-white; }
    &.orange { color: $sc-orange; }

    &.tiny { font-size: $sc-font-tiny; }
    &.small { font-size: $sc-font-sm; }

    &.light { font-weight: $sc-weight-lt; }
    &.bold { font-weight: $sc-weight-bd; }

    &.pg { line-height: 1.2; }
  }


  .sc-list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {}
    li + li {
      margin-top: 8px;
    }
  }


  .scorecard--section {
    border-bottom: 1px solid $sc-offwhite;

    .inner {
      padding: 1rem;
    }

    .section-head {
      margin-bottom: 2rem;

      .sc-heading {
        margin-bottom: 0.75rem;
      }
    }
  }

  .sc-toggle {

    label {
      display: inline-block;
      font-weight: 400;
      margin: 0;
    }

    label + label {
      margin-left: 0.5rem;
    }

    label.cb-plain {
      line-height: 1;

      input[type="checkbox"] {
        display: none;
      }

      span {
        opacity: 0.25;
      }

      span.cb {
        content: ' ';
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 5px;
        border-radius: 10px;
        background: white;
      }

      input[type=checkbox]:checked ~ span {
        opacity: 1.0;
      }
    }
  }


  .scorecard--nav {
    margin: 1rem 1rem;

    & > div {
      position: relative;
      margin: 0.5rem 0 0;
    }

    #comparison-view-link {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }


  .scorecard--details {
    position: relative;
    padding: 0 1rem;
    background: $blue;
    height: 210px;
    overflow: hidden;

    [class^="col"] {
      height: 100%;
      padding-top: 1rem;
      color: white;
    }

    [class^="col"].middle {
      position: relative;
      padding-top: 0;
      color: $blue;
      z-index: 1;

      .circle-bk {
        position: relative;
        top: 50%;
        padding-top: 0;
        text-align: center;
        z-index: 1;
        transform: translateY(-50%);
      }

      &:after {
        content: ' ';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 260px;
        height: 260px;
        background: white;
        border-radius: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: -1;
      }

      .eui-desc {
        margin: 1rem auto 0;
        width: 150px;

        p:first-child {
          font-weight: $sc-weight-bd;
        }
      }
    }

    .details-box {
      text-align: left;

      & + .details-box {
        margin-top: 1rem;
      }

      & > h4 {
        text-align: right;
      }

      & > div {
        margin-top: 1rem;
        text-align: left;
        overflow: hidden;
      }

      & > div > * {
        float: left;
        text-align: right;
      }

      & > div p {
        width: 60%;
      }

      & > div h4 {
        width: 35%;
        margin-left: 5%;
        text-align: left;
      }
    }

    .sc-toggle {
      position: absolute;
      bottom: 1rem;
    }
  }

  .compare-desc {
    text-align: center;
    padding-right: 2rem;

    & > p:last-child {
      text-align: left;
    }

    .compare-logo,
    .change-arrow {
      position: relative;
      display: inline-block;
      margin: 0 0 1rem;
      padding: 0;
      width: 83px;
      height: 83px;
      background: transparent;
      background-repeat: no-repeat;
      background-position: 50%;
      line-height: 1;

      &.lower.eui {
        background-image: url('../images/scorecard/compare-left.png');
      }

      &.higher.eui {
        background-image: url('../images/scorecard/compare-right.png');
      }

      &.lower.ess {
        background-image: url('../images/scorecard/compare-left_red.png');
      }

      &.higher.ess {
        background-image: url('../images/scorecard/compare-right_green.png');
      }

      span {
        position: absolute;
        bottom: 10px;
        left: 0;
        width: 100%;
        font-size: 1rem;
        font-weight: 500;
        color: white;
      }

    }

    .change-arrow {
      width: 85px;
      height: 74px;

      &.decreased {
        background-image: url('../images/scorecard/changearrow-down.png');
      }

      &.increased {
        background-image: url('../images/scorecard/changearrow-up.png');
      }

      span {
        bottom: auto;
        top: 50%;
        margin-top: -2px;
      }

      &.decreased span {
        margin-top: -8px;
      }
    }

    .change-txt {
      &.lower.eui, &.higher.ess, &.decreased { color: #90AE60; }
      &.higher.eui, &.lower.ess, &.increased {color: #C04F31; }
    }
  }

  #compare-chart {
    position: relative;

    .bar rect {
      fill: #F1F1F1;
      shape-rendering: crispEdges;

      &.selected {
        fill: #DE8F41;
      }
    }

    .axis path {
      fill: none;
      stroke: #CBCBCB;
      shape-rendering: crispEdges;
    }

    text {
      font-family: $base-font-family;
      font-size: 10px;
      text-transform: lowercase;
    }

    .y.axis text, .label text {
      fill: #CBCBCB;
    }

    .label text {
      text-transform: uppercase;
    }

    .axis line {
      fill: none;
      shape-rendering: crispEdges;
    }

    .y.axis line {
      display: none;
    }

    .x.axis line {
      stroke-width: 1.5;
    }

    .avg-highlight-html {
      position: absolute;

      & > div {
        position: absolute;
        bottom: calc(100% + 10px);
        width: 100px;

        &:after {
          content: ' ';
          position: absolute;
          top: 0;
          left: 0;
          width: 1px;
          height: calc(100% + 10px);
          background: #CBCBCB;
        }
      }

      p {
        margin: 0 0 0 10px;
        padding: 0;
        line-height: 1;
        font-size: 24px;
        font-weight: 500;
        color: $real-orange;
      }

      p:first-child, p:last-child {
        font-size: 10px;
        font-weight: 400;
        text-transform: uppercase;
      }

      p:first-child {
        color: #CBCBCB;
      }

      p:last-child {
        margin-top: -2px;
      }
    }

    .selected-city-highlight-html {
      position: absolute;
      margin-left: -30px;

      .circle {
        position: relative;
        width: 60px;
        height: 60px;
        border-radius: 30px;
        border: 1px solid $blue;

        .inner {
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          padding: 0;
          text-align: center;
          transform: translateY(-50%);

          p {
            margin: 0;
            padding: 0;
            line-height: 1;
            color: $real-orange;
            font-size: 10px;
          }

          p:first-child {
            font-size: 24px;
            font-weight: 500;
          }
          p:last-child {
            margin-top: -2px;
          }
        }

        .outer {
          position: absolute;
          left: calc(100% + 10px);
          top: 50%;
          width: 150px;
          transform: translateY(-50%);

          p {
            margin: 0;
            padding: 0;
            line-height: 1;
          }
        }
      }

      .line {
        position: absolute;
        top: 60px;
        left: 50%;
        width: 1px;
        background: $blue;
      }
    }
  }

  #fueluse-chart {
    .margin-top { margin-top: 1rem; }

    .fc-panel {
      display: inline-block;
      vertical-align: top;

      &.fc-bars {
        width: 70%;
        margin: 0 1rem;
      }
    }

    .fc-row {
      height: 36px;
      overflow: hidden;

      &.fc-headers {
        height: 24px;
        line-height: 24px;
      }
    }

    .fc-label {
      height: 36px;
      line-height: 36px;

      & > div {
        display: inline-block;
        vertical-align: middle;
      }

      p {
        margin: 0;
        padding: 0;
        line-height: 1;
        font-size: 1rem;
        font-weight: 500;
      }

      p:last-child {
        font-size: 0.75rem;
      }
    }


    .fc-header {
      display: block;
      float: left;
      text-align: center;
      line-height: 24px;


      &.gas {
        color: #C04F31;
      }

      &.electricity {
        color: #DE8F41;
      }

      &.steam {
        color: #F7C34D;
      }
    }

    .fc-bars {

      .fc-row:last-child {
        p {
          margin-top: 0.5rem;
          text-align: center;
          font-size: 0.75rem;
          font-weight: 500;
        }
      }
    }

    .fc-bar {
      position: relative;
      height: 36px;
      float: left;
      text-align: center;

      &.gas {
        background: #C04F31;
      }

      &.electricity {
        background: #DE8F41;
      }

      &.steam {
        background: #F7C34D;
      }

      span {
        color: white !important;
        line-height: 36px;
      }
    }
  }

  #change-chart {
    text-align: center;

    .change-chart-inner {
      position: relative;
      display: inline-block;
      width: 70%;
      margin-left: -37px;
      text-align: left;

    }

    #change-chart-years {
      position: relative;
      width: 100%;
      height: 24px;

      p {
        float: left;
        //position: absolute;
        //top: 0;
        //right: calc(100% - 10px);
        margin: 0;
        padding: 0;
        line-height: 1;
        font-size: 24px;
        font-weight: 500;
      }

      p:last-child {
        float: right;
        //right: auto;
        //left: calc(100% - 10px);
      }
    }

    #change-chart-vis {
      position: relative;
      margin: 30px 0;
      height: 200px;

      svg {
        overflow: visible;
      }

      path {
        fill: none;
        stroke: #f1f1f1;
        stroke-width: 1;
      }

      circle {
        fill: #CF6F39;
        stroke: none;
      }

      .avg > circle {
        fill: #d8d8d8;
      }

      .label {
        position: absolute;
        color: #CF6F39;
        transform: translateY(-50%);

        &.avg {
          color: #d8d8d8;
        }

        p {
          margin: 0;
          padding: 0;
          line-height: 1;
          font-size: 16px;
        }

        p.metric.small {
          font-size: 8px;
          text-transform: uppercase;
        }

        .building {
          position: absolute;
          left: 100%;
          top: 50%;
          width: 75px;
          margin-left: 15px;
          line-height: 1.2;
          font-size: 12px;
          color: #0047BA;
          text-transform: uppercase;
          transform: translateY(-50%);

          &.avg {
            color: #d8d8d8;
            font-size: 8px;
          }
        }
      }
    }
  }

  #building-information {
    .scorecard-list-cont { display: inline-block; }
    .scorecard-list-cont > div.scorecard-list {
      display: inline-block;
      width: auto;
    }
    .inner { text-align: center; }
    .scorecard-list {
      &:last-child { margin-left: 6rem; }
      h4 {

      }

      table {
        width: auto;
        margin: 1rem 0 0;
        font-size: $sc-font-sm;
        font-weight: $sc-weight;

        td {
          padding: 2px 0;
          border: 0;
          text-align: right;

          &:first-child { font-weight: $sc-weight-bd; }

          &:last-child {
            text-align: left;
            padding-left: 1rem;
          }
        }
      }
    }
  }

  #links {
    background: #F1F1F1;

    table {

      tr:first-child {
        td { width: 30%; }
        td:first-child {
          width: 40%;
          padding-right: 10%;
          padding-left: 0;

          p:first-child {text-transform: uppercase;}
          p + p {
            margin-top: 10px;
          }
        }
      }

      td {
        border: 0;
        padding: 5px 10px;
        line-height: 1.2;
      }
    }
  }

  #building-type-table {
    table {
      color: #646569;
      font-size: 0.725rem;
    }

    td {
      text-align: center;
      vertical-align: middle;
      border-bottom-color: #ddd;
      padding: 0.5rem 0;

      &:first-child {
        text-align: right;
        width: auto;
        padding-left: 0.7rem;
        padding-right: 0.7rem;
        width: 6.5em;
      }
    }

    thead tr:first-child td {
      border: 0;
    }

    thead td {
      vertical-align: bottom;
    }

    thead td:first-child {
      font-size: 1.1rem;
      text-transform: uppercase;
      font-weight: 500;
      line-height: 1.1;
    }

    tbody td {
      font-weight: 500;
      font-size: 0.75rem;

      &:first-child {
        font-size: 0.725rem;
        font-weight: 400;
      }
    }

    .header { font-size: 0.75rem; }

    .gray-bk {
      background: #f1f1f1;
    }

    .no-border {
      border: 0;
    }
  }

  #eui-scorecard-view,
  #ess-scorecard-view {
    position: relative;
    top: 0;
    left: 0;
    display: none;
  };

  &.show-eui-view #eui-scorecard-view,
  &.show-ess-view #ess-scorecard-view  {
    display: block;
  }

  @media print {
    & {
      overflow: visible;
    }

    & * {
      -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
      color-adjust: exact !important;                 /*Firefox*/
    }

    #scorecard .scorecard-wrapper {
      width: 7in;
      max-width: 7in;
    }

    .scorecard--nav {
      margin-top: 0;
    }

    #back-to-map-link { display: none; }

    #eui-scorecard-view,
    #ess-scorecard-view  {
      display: block !important;
    }

    #eui-scorecard-view {
      page-break-after: always;
      overflow: visible;
    }

    #ess-scorecard-view {
      page-break-before: always;
      overflow: visible;
    }

    .scorecard--section, .scorecard--details {
      page-break-inside: avoid;
    }

    #building-type-table {
      page-break-after: always;
    }
  }
}

@media print {
  body {
    background-color: #fff;
    overflow: visible;
  }
}


