/* The Modal (background) */
#splash {
  display: none; 
  position: fixed; 
  z-index: #{$zIndexMax + 1};
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.4); 

  h1 {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
  }

  a {
    color: inherit;
    text-decoration: underline;
    &:focus {
      outline: 2px solid #000;
    }
  }
}

/* Modal Content/Box */
.splash-content {
  font-size: 16px;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}

/* The Close Button */

button#splash-close {
  float: right;
  position: relative;
  right: -29px;
  top: -27px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid $blue;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background: #ccc;
  }
  &:focus {
    outline: 2px solid #000;
  }
  span {
    margin-bottom: 2px;       
    font-size: 28px;
    font-weight: bold;
  }  
}

#splash-controls-wrapper {
  text-align: center;
  margin-top: 25px;

  button {
    border: 1px solid $blue;
    padding: 8px 14px;
    margin-right: 8px;
    &:hover {
      background: #ccc;
    }
    &:focus {
      outline: 2px solid #000;
    }
  }

  #opt-in-wrapper {
    margin-top: 25px;
    label {
      cursor: pointer;
      display: inline-block;
    }
  } 
}

