<button class='toggle'>Building Comparison</button>
<ul class='comparables'>
  <li><span class='name'>Building 1</span><button class='close'>&times;</button></li>
  <li><span class='name'>Building 2</span><button class='close'>&times;</button></li>
  <li><span class='name'>Building Longname Inc.</span><button class='close'>&times;</button></li>
  <li><span class='name'>Building 4</span><button class='close'>&times;</button></li>
  <li><span class='name'>Building 5</span><button class='close'>&times;</button></li>
</ul>