<div class='inner'>
  <div class='section-head'>
    <h3 class='sc-heading'>Fuel Use</h3>
    <p class='sc-txt small bold'>See the breakdown of different fuel types contributing to this building’s GHG emissions:</p>
  </div>
  <div id='fueluse-chart'>
    <div class='fc-labels fc-panel'>
      <div class='fc-headers fc-row'></div>
      <div class='fc-label fc-row'>
        <div>
          <p>USAGE</p>
          <p>(% kBtu)</p>
        </div>
      </div>
      <div class='fc-label fc-row margin-top'>
        <div>
          <p>EMISSIONS</p>
          <p>(% ghg)</p>
        </div>
      </div>
    </div>

    <div class='fc-bars fc-panel'>
      <div class='fc-headers fc-row'>
        <% _.each(fuels, function(fuel) { %>
          <span class='fc-header <%= fuel.key %>' style="width: <%= fuel.usage.pct %>%;"><%= fuel.label %></span>
        <% }); %>
      </div>
      <div class='fc-row'>
        <% _.each(fuels, function(fuel) { %>
          <div class='fc-bar <%= fuel.key %>' style="width: <%= fuel.usage.pct %>%;"><span><%= fuel.usage.pct %>%</span></div>
        <% }); %>
      </div>
      <div class='fc-row margin-top'>
        <% _.each(fuels, function(fuel) { %>
          <div class='fc-bar <%= fuel.key %>' style="width: <%= fuel.emissions.pct %>%;"><span><%= fuel.emissions.pct %>%</span></div>
        <% }); %>
      </div>
      <div class='fc-row'>
        <p><%= totals.emissions %> metric tons of CO<sub>2</sub>E is the equivalent of <%= cars %> passenger vehicles driven for one year.</p>
      </div>
    </div>

    <div class='fc-totals fc-panel'>
      <div class='fc-headers fc-row'><span class='fc-header'>TOTAL</span></div>
      <div class='fc-label fc-row'>
        <div>
          <p><%= totals.usage %></p>
          <p>million kBtu</p>
        </div>
      </div>
      <div class='fc-label fc-row margin-top'>
        <div>
          <p><%= totals.emissions %></p>
          <p>metric tons</p>
        </div>
      </div>
    </div>
  </div>
</div>