<div class='inner'>
  <div class='section-head'>
    <h3 class='sc-heading'>WASHINGTON CLEAN BUILDINGS PERFORMANCE STANDARD</h3>
    <p class='sc-txt small'>All commercial buildings over 50,000 ft2 must comply with Washington's law.</p>

    <% if (cbps_flag) { %>

    <div id='performance-standard-chart-header'>
      <div class='performance-standard-bubble'>
        <span class='performance-standard-bubble-measure'>June <%= compliance_year %></span>
        <img class='arrow-icon' src='./images/scorecard/arrow-icon.svg' />
        <span class='performance-standard-bubble-description'>estimated compliance date</span>
        <span class='bubble-icon calendar'></span>
      </div>
      
      <div class='performance-standard-bubble'>
        <span class='performance-standard-bubble-measure adjust'><%= target_eui %> <span class='bubble-unit'>kBtu/ft<sup>2</sup></span></span>
        <img class='arrow-icon' src='./images/scorecard/arrow-icon.svg' />
        <span class='performance-standard-bubble-description adjust'>estimated EUI target*</span>
        <span class='bubble-icon bolt'></span>
      </div>
    </div>

    <div id='performance-standard-bar-chart-container'>
      <div class='sc-txt small bold' id='performance-standard-bar-chart-label'>Estimated EUI Target vs Current EUI</div>
      <div id='performance-standard-bar-chart'></div>
      <div id='performance-standard-bar-chart-x-axis-label'>Site EUIWN (kBtu/ft²)</div>
    </div>

    <p id="early-incentive-message" class='sc-txt small'>Early adopter incentive available for some buildings. Learn more on the regulation <a target="_blank" href="#">here</a>.</p>
    <p class='sc-txt x-small grey' id='performance-standard-disclaimer'>*This is only an estimate based on submitted data and for planning purposes only.</p>

    <% } else if (cbps_flag_but_no_cbps_euit) { %>

    <div class='no-performance-standard-data'>
      <p class='sc-txt small'>We could not estimate an EUI Target for this building with the reported data.<br/>Contact <a href="mailto:energybenchmarking@seattle.gov">energybenchmarking@seattle.gov</a> if you have questions.</p>
    </div>

    <% } %>

  </div>
</div>
