<div class='scorecard-wrapper'>

  <!-- Navigation -->
  <div class='scorecard--nav'>
    <a id='back-to-map-link' class='sc-link' href='#'>&lt; Back to Map</a>
    <div>
      <h2 class='sc-heading large'><%= name %></h2>
      <% if (building_view) { %>
      <a id='comparison-view-link' class='sc-link' href='#'>Building Comparison View &gt;</a>
      <% } %>
    </div>
  </div>

  <!-- Dynamic content -->
  <div id='scorecard-content'>
    <div id='eui-scorecard-view' class='eui'></div>
    <div id='ess-scorecard-view' class='ess'></div>
  </div>

  <!-- Footer -->
  <div id='links' class='scorecard--section'>
    <div class='inner'>
      <h2 class='sc-heading large'>Links</h2>
      <table>
        <tr>
          <td rowspan='2'>
            <p class='sc-txt small'>Contact us:</p>
            <p class='sc-txt small'>City Light Energy Advisors</p>
            <p class='sc-txt small'>Answering questions by email or phone (206) 684-3800</p>
          </td>
          <td><span class='sc-txt small'>Seattle City Light <span class='bold'>incentives for energy efficiency equipment</span></span></td>
          <td><span class='sc-txt small'>This is an opportunity for users to click on another link</span></td>
        </tr>
        <tr>
          <td><span class='sc-txt small'>This is an opportunity for users to click on another link</span></td>
          <td><span class='sc-txt small'>This is an opportunity for users to click on another link</span></td>
        </tr>
      </table>
    </div>
  </div>

</div> <!-- end .scorecard-content -->