<div class="links-wrapper">
  <div class="links">
    <div class="footer-row">
      <a href="<%= footerLinks.about %>" target="_blank" title="About benchmarking program" rel="noopener noreferrer">About the Program</a>
      <% _.each(modals, function(m){ %>
        <a href="#" class="modal-link" data-modal="<%= m.id %>"><%= m.label %></a>
      <% }) %>
      <a href="<%= footerLinks.download %>" target="_blank" rel="noopener noreferrer">Download Data</a>
      <a href="<%= footerLinks.feedback %>" target="_blank" rel="noopener noreferrer">Feedback</a>
      <a href="#" id="launch-tutorial-link">Launch Tutorial</a>
    </div>
  </div>
</div>