<div class='scorecard-content'>

  <div class='scorecard--nav'>
    <a id='back-to-map-link' class='sc-link' href='#'>&lt; Back to Map</a>
    <div>
      <h2 class='sc-heading large'><%= name %></h2>
      <a id='comparison-view-link' class='sc-link'>Building Comparison View &gt;</a>
    </div>
  </div>

  <div class='scorecard--details row'>
    <div class='col-4'>
        <ul class='sc-list'>
          <li class='sc-txt white small light'><%= addr %></li>
          <li class='sc-txt white small light'><%= sqft %> <span class='sqft'>ft²</span></li>
          <li class='sc-txt white small light'><%= type %></li>
          <li class='sc-txt white small light'>Building ID <%= id %></li>
        </ul>
        <div class='sc-toggle'>
          <h4 class='sc-heading small white'>TOGGLE VIEW:</h4>
          <label class='cb-plain sc-txt white small'><input type="checkbox" checked='checked'/><span class='cb'></span><span>EUI</span></label>
          <label class='cb-plain sc-txt white small'><input type="checkbox" /><span class='cb'></span><span>Energy Star Score</span></label>
        </div>
    </div>
    <div class='col-4 middle'>
      <div class='circle-bk'>
        <h4 class='sc-heading'><%= year %> EUI</h4>
        <h3 class='sc-heading orange xlarge' ><%= eui %></h3>
        <p class='sc-heading orange small'>kBtu/ft²</p>
        <div class='eui-desc'>
          <p class='sc-txt tiny'>Energy Use Intensity</p>
          <p class='sc-txt tiny'>EUI is your building’s annual energy use (all fuel types) per square foot (ft²) in kBtu/ft².</p>
        </div>
      </div>
    </div>
    <div class='col-4'>
      <div class='details-box'>
        <h4 class='sc-heading white'>Cost of Energy</h4>
        <div>
          <p class='sc-txt small white light pg'>This building currently spends an estimated <%= costs.per_sqft %>/ft² annually on energy or <span class='bold'><%= costs.annual %></span></p>
          <h4 class='sc-heading white large'><%= costs.per_sqft %><span class='sc-heading white small'>/ft²</span></h4>
        </div>
      </div>

      <div class='details-box'>
        <h4 class='sc-heading white'>Savings opportunities</h4>
        <div>
          <p class='sc-txt small white light pg'>By reducing energy use by <%= costs.save_pct %>, this building could save up to <span class='bold'><%= costs.savings %></span> annually on energy costs.</p>
          <h4 class='sc-heading white large'><%= costs.savings %></h4>
        </div>
      </div>
    </div>
  </div>

  <div class='scorecard--section'>
    <div class='inner'>
      <div class='section-head'>
        <h3 class='sc-heading'>Compared to Average</h3>
        <p class='sc-txt small bold'>See how this building measures up against other buildings of the same type:</p>
      </div>

      <div class='row'>
        <div class='col-4 compare-desc'>
          <p class='compare-logo <%= compare.change_label %>'><span><%= compare.change_pct %></span></p>
          <p class="sc-txt light pg">This building’s EUI is <span class='change-txt bold <%= compare.change_label %>'><%= compare.change_pct %> <%= compare.change_label %></span> than the average large office building in Seattle.</p>
        </div>
        <div id='compare-chart' class='col-8'></div>
      </div>
    </div>
  </div>

  <div class='scorecard--section'>
    <div class='inner'>
      <div class='section-head'>
        <h3 class='sc-heading'>Fuel Use</h3>
        <p class='sc-txt small bold'>See the breakdown of different fuel types contributing to this building’s GHG emissions:</p>
      </div>
      <div id='fueluse-chart'>
        <div class='fc-labels fc-panel'>
          <div class='fc-headers fc-row'></div>
          <div class='fc-label fc-row'>
            <div>
              <p>USAGE</p>
              <p>(% kBtu)</p>
            </div>
          </div>
          <div class='fc-label fc-row margin-top'>
            <div>
              <p>EMISSIONS</p>
              <p>(% ghg)</p>
            </div>
          </div>
        </div>

        <div class='fc-bars fc-panel'>
          <div class='fc-headers fc-row'>
            <% _.each(fuels.fuels, function(fuel) { %>
              <span class='fc-header <%= fuel.key %>' style="width: <%= fuel.usage.pct %>%;"><%= fuel.label %></span>
            <% }); %>
          </div>
          <div class='fc-row'>
            <% _.each(fuels.fuels, function(fuel) { %>
              <div class='fc-bar <%= fuel.key %>' style="width: <%= fuel.usage.pct %>%;"><span><%= fuel.usage.pct %>%</span></div>
            <% }); %>
          </div>
          <div class='fc-row margin-top'>
            <% _.each(fuels.fuels, function(fuel) { %>
              <div class='fc-bar <%= fuel.key %>' style="width: <%= fuel.emissions.pct %>%;"><span><%= fuel.emissions.pct %>%</span></div>
            <% }); %>
          </div>
          <div class='fc-row'>
            <p><%= fuels.totals.emissions %> metric tons of CO<sub>2</sub>E is the equivalent of <%= fuels.cars %> passenger vehicles driven for one year.</p>
          </div>
        </div>

        <div class='fc-totals fc-panel'>
          <div class='fc-headers fc-row'><span class='fc-header'>TOTAL</span></div>
          <div class='fc-label fc-row'>
            <div>
              <p><%= fuels.totals.usage %></p>
              <p>million kBtu</p>
            </div>
          </div>
          <div class='fc-label fc-row margin-top'>
            <div>
              <p><%= fuels.totals.emissions %></p>
              <p>metric tons</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='scorecard--section'>
    <div class='inner'>
      <div class='section-head'>
        <h3 class='sc-heading'>change from last year</h3>
        <p class='sc-txt small bold'>See how this building’s performance has shifted since last year:</p>
      </div>

      <div class='row'>
        <div class='col-4 compare-desc'>
          <p class='change-arrow <%= change.direction %>'><span><%= change.pct %></span></p>
          <p class="sc-txt light pg">After adjusting for weather, from <%= change.years[0] %> to <%= change.years[1] %> this building’s site EUI <span class='change-txt bold <%= change.direction %>'><%= change.direction %> by <%= change.pct %></span>.</p>
        </div>
        <div id='change-chart' class='col-8'>
          <div class='change-chart-inner'>
            <div id='change-chart-years'>
              <p><%= change.years[0] %></p>
              <p><%= change.years[1] %></p>
            </div>
            <div id='change-chart-vis'></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id='building-information' class='scorecard--section'>
    <div class='inner'>
      <div class='scorecard-list-cont'>
        <div class='scorecard-list'>
          <h4 class='sc-heading small normalweight'>Building information</h4>
          <table>
            <% _.each(building_info, function(item) { %>
              <tr>
                <td><%= item.label %></td>
                <td><%= item.val %></td>
              </tr>
            <% }) %>
          </table>
        </div>
        <div class='scorecard-list'>
          <h4 class='sc-heading small normalweight'>Energy Use</h4>
          <table>
            <% _.each(energy_info, function(item) { %>
              <tr>
                <td><%= item.label %></td>
                <td><%= item.val %></td>
              </tr>
            <% }) %>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div id='links' class='scorecard--section'>
    <div class='inner'>
      <h2 class='sc-heading large'>Links</h2>
      <table>
        <tr>
          <td rowspan='2'>
            <p class='sc-txt small'>Contact us:</p>
            <p class='sc-txt small'>City Light Energy Advisors</p>
            <p class='sc-txt small'>Answering questions by email or phone (206) 684-3800</p>
          </td>
          <td><span class='sc-txt small'>Seattle City Light <span class='bold'>incentives for energy efficiency equipment</span></span></td>
          <td><span class='sc-txt small'>This is an opportunity for users to click on another link</span></td>
        </tr>
        <tr>
          <td><span class='sc-txt small'>This is an opportunity for users to click on another link</span></td>
          <td><span class='sc-txt small'>This is an opportunity for users to click on another link</span></td>
        </tr>
      </table>
    </div>
  </div>

</div> <!-- end .scorecard-content -->
