<div class="inner-splash">

  <!-- Modal content -->
  <div tabindex="0" class="splash-content">
    <button id="splash-close">
      <span>&times;</span>
    </button>
    <h1>Welcome to the Seattle Energy Benchmarking Map!</h1>
    <p>
    	Use this tool to explore building energy and greenhouse gas emissions performance data that is collected under <a href="https://www.seattle.gov/environment/climate-change/buildings-and-energy/energy-benchmarking">Seattle’s energy benchmarking ordinance</a>.
    </p>
    <p>
    	The Energy Benchmarking Map displays annual energy and GHG emissions data for buildings 20,000 square feet and larger, dating back to 2015. To access this data in a spreadsheet format, please visit <a href="https://data.seattle.gov/browse?q=building%20energy%20benchmarking&sortBy=relevance&utf8=%E2%9C%93">the Seattle Open Data Portal</a>.
    </p>

    <p>
    	The City of Seattle encourages everyone to participate in its programs and activities. For disability accommodations or information in alternate formats, please contact <a href="mailto:energybenchmarking@seattle.gov">energybenchmarking@seattle.gov</a>.
    </p>

    <div id="splash-controls-wrapper">
	    <div id="splash-buttons">
	    	<button id="start-tutorial">Start Tutorial</button>
	    	<button id="skip-tutorial">Skip Tutorial</button>
	    </div>

	    <div id="opt-in-wrapper">
	    	<input id="opt-in" type="checkbox" checked />
	    	<label for="opt-in">Show this at startup</label>
	    </div>
    </div>
  </div>
</div>
