<div class="inner-splash">

  <!-- Modal content -->
  <div class="splash-content">
    <button id="splash-close">
      <span>&times;</span>
    </button>
    <h1>Welcome to the Seattle Energy Benchmarking Data Visualization!</h1>
    <p>
    	Use this tool to explore building energy and greenhouse gas emissions performance data that is collected under Seattle’s energy benchmarking ordinance.
    </p>
    <p>
    	The Seattle Energy Benchmarking Data Visualization displays annual energy performance data for buildings 20,000 square feet and larger for the years 2015-2021. To access the Seattle Energy Benchmarking data in a tabular format, please visit the <a href="https://data.seattle.gov/browse?q=building%20energy%20benchmarking&sortBy=relevance&utf8=%E2%9C%93">Seattle Open Data Portal</a>.
    </p>

    <p>
    	The City of Seattle encourages everyone to participate in its programs and activities. For disability accommodations, data in alternate formats, or accessibility information, please contact <a href="mailto:energybenchmarking@seattle.gov">energybenchmarking@seattle.gov</a> at your earliest opportunity.
    </p>

    <div id="splash-controls-wrapper">
	    <div id="splash-buttons">
	    	<button id="start-tutorial">Start Tutorial</button>
	    	<button id="skip-tutorial">Skip Tutorial</button>
	    </div>

	    <div id="opt-in-wrapper">
	    	<input id="opt-in" type="checkbox" checked />
	    	<label for="opt-in">Show this at startup</label>
	    </div>
    </div>
  </div>
</div>
