body {
    font-family: sans-serif;
    margin-left: 10%;
    margin-top: 5%;
    width: 50%;
}

label {
    display: inline-block;
    width: 15%;
}

.form-row {
    margin-bottom: 5px;
    margin-top: 5px;
}
